---
layout: default
---

{% assign sorted_pages = (site.pages | where: "layout", "contract" ) %}

<div class="row">
  <div class="medium-16">
    <p>Toto je dočasný archiv starého systému. Nové smlouvy nahrávejte <a href=https://smlouvy.pirati.cz/>zde</a>.</p>
    <p>V případě dotazů nás kontaktujte na e-mail <a href="archiv@pirati.cz">archiv@pirati.cz</a> </p>
     </div>
</div>

<div class="row">
  <table id="smlouvy" class="display" cellspacing="0" width="100%" role="grid">
      <thead>
          <tr>
            <th>Den podpisu</th>
            <th>Název</th>
            <th>Další smluvní strany</th>
            <th>Předmět plnění</th>
            <th>Druh plnění</th>
            <th class="text-right">Odhad nákladů</th>
            <th>Stav</th>
            <th>Stav dok.</th>
            <th>Invent.</th>
          </tr>
      </thead>
      <tfoot>
          <tr>
              <th>Den podpisu</th>
              <th>Název</th>
              <th>Další smluvní strany</th>
              <th>Předmět plnění</th>
              <th>Druh plnění</th>
              <th class="text-right">Odhad nákladů</th>
              <th>Stav</th>
              <th>Stav dok.</th>
              <th>Invent.</th>
          </tr>
      </tfoot>
      <tbody>
      {% for page in sorted_pages reversed %}
      <tr{% if page["stav"] contains 'splněn' or page["stav"] contains 'ukon' %} class="success"{% elsif page["stav"] contains 'odstoup' or page["stav"] contains 'vypově' or page["stav"] contains 'výpově' %} class="danger"{% endif %} role="row">
        <td>{{page["datum podpisu"] }}</td>
        <td><a href="{{ page.url }}">{{page["title"]}}</a></td>
        {% if page["smluvní strany"].size > 1  %}
        <td>{% for smluvnik in page["smluvní strany"] offset:1 %} {% if forloop.index != 1 %}<br/>{% endif %} {{ smluvnik["jméno"] }} {% endfor %}</td>
        {% else %}
        <td>{% for smluvnik in page["smluvní strany"] offset:0 %} {% if forloop.index != 1 %}<br/>{% endif %} {{ smluvnik["jméno"] }} {% endfor %}</td>
        {% endif %}
        <td>{{page["předmět"]}}</td>
        <td>{{page["použité smluvní typy"] }}</td>
        <td class="text-right">{{page["náklady"]}} Kč</td>
        <td>{{page["stav"]}}</td>
        <td>{{page["stav dokumentu"]}}</td>
        <td>{{page["inventurizovano"]  | date: "%-d. %-m. %Y" }}</td>
      </tr>
      {% endfor %}
      </tbody>
  </table>
</div>
