---
layout: default
title: Registr smluv
---

{% assign sorted_pages = (site.pages | where: "layout", "contract" | sort: 'datum podpisu' ) %}

<table class="table table-striped">
<tr>
  <th>Den podpisu</th>
  <th>Název</th>
  <th>Další smluvní strany</th>
  <th>Předmět plnění</th>
  <th class="text-right">Odhad nákladů</th>
  <th>Stav</th>
</tr>

<tbody>
{% for page in sorted_pages reversed %}
<tr{% if page.["stav"] contains 'splněn' %} class="success"{% elsif page.["stav"] contains 'odstoup' or page.["stav"] contains 'vypově' or page.["stav"] contains 'výpově' %} class="danger"{% endif %}>
  <td>{{page.["datum podpisu"] | date: "%-d. %-m. %Y" }}</td>
  <td><a href="{{ page.url }}">{{page.["title"]}}</a></td>
  <td>{% for smluvnik in page.["smluvní strany"] offset:1 %} {% if forloop.index != 1 %}<br/>{% endif %} {{ smluvnik.["jméno"] }} {% endfor %}</td>
  <td>{{page.["předmět"]}}</td>
  <td class="text-right">{{page.["náklady"]}} Kč</td>
  <td>{{page.["stav"]}}</td>
</tr>
{% endfor %}
</tbody>
</table>

</div>
