---
---

body {overflow-y: scroll;
overflow-x: hidden;}

* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
}
.header {
	position: fixed;
	width: 100%;
	background: #222;
	z-index: 10;
}
.header .navbar-brand {
	font-weight: 900;
}
.header .navbar {
	margin: 0;
	border: none;
}
.page-section {
	width: 100%;
	min-height: 400px;
	padding-top: 50px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
	border-bottom: 10px solid #fff;
}
.page-section h1 {
	font-size: 4em;
	margin: 50px 0;
}
.page-section h1 span {
	font-weight: 200;
}
.page-section h2 {
	font-size: 3em;
	font-weight: 900;
	color: #fff;
	margin: 0 0 30px;
}
.page-section p {
	font-size: 1.2em;
	font-weight: 200;
   max-width: 700px;
	margin: 0 25% 20px 0;
}
.page-section p.lead {
	font-size: 1.8em;
}
.page-section p {
	color: #fff;
	background: white;
   opacity:0.8;
   color: black;
	border-radius: 3px;
}

.color p {
	padding: 15px;
}





.btn {
	font-weight: 200;
}
.btn-dark {
	background: #444;
	color: #fff;
}
.btn-dark:hover {
	background: #000;
	color: #fff;
}
.back-to-top {
	display: inline-block;
	clear: both;
	background: #fff;
	color: #333;
	padding: 0 10px 5px;
	margin: 20px 0 0;
	text-shadow: none;
}
.back-to-top:hover {
	background: #333;
	color: #fff;
	text-decoration: none;
}
hr {border-color: #ddd;}

/* CHANGES TO DEFAULT BOOTSTRAP */
.navbar-brand>img {height:30px;}
.navbar-brand {padding: 8px 15px;}
.navbar-inverse .navbar-nav>li>a {color:white;font-weight:bold;}


@media (min-width: 768px) {
	.header .navbar-brand {
		padding-left: 0;
	}
	.navbar-nav {
		float: right;
	}
   .navbar-nav>li {padding-left:40px;}
}
@media (max-width: 480px) {
	.page-section h1 {
		font-size: 3em;
	}
	.page-section h2 {
		font-size: 2em;
	}
	.page-section p {
		font-size: 1em;
		margin: 0 0 20px;
	}
}

img {
	border-radius: 3px;
	max-width: 100%;
}

.miniatura {
  -moz-box-shadow:    2px 2px 3px 4px #ccc;
  -webkit-box-shadow: 2px 2px 3px 4px #ccc;
  box-shadow:         2px 2px 3px 4px #ccc;
height:150px;display:block; border: 1px solid #999;margin-top:8px;margin-bottom:8px;
}

h1.contract-header {
  text-transform: capitalize;
}