<!DOCTYPE html>
<html lang="cs" dir="ltr" itemtype="http://schema.org/WebPage" itemscope="">

  <head>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' }}">
    <link rel="stylesheet" href="{{ '/assets/css/upload.css' }}">

    <!-- dependencies (jquery, handlebars and bootstrap) -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <link type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
     
    <!-- alpaca -->
    <link type="text/css" href="//code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="//code.cloudcms.com/alpaca/1.5.24/bootstrap/alpaca.min.js"></script>
    <script type="text/javascript" src="/assets/js/octokit.js"></script>
  </head>

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}


  </body>
 <!-- Alpaca , Octokit - github -->

</html>
